POSTGRES_USER=user_dev
POSTGRES_PASSWORD=db_pass_dev
POSTGRES_DB=register_flow_dev
DATABASE_URL=postgresql://user_prod:db_pass_dev@db:5432/register_flow_dev?schema=public
NEXT_PUBLIC_API_URL=http://localhost/api
PORT=3000