POSTGRES_USER=user_prod
POSTGRES_PASSWORD=db_pass_prod
POSTGRES_DB=register_flow_prod
DATABASE_URL=postgresql://user_prod:db_pass_prod@db:5432/register_flow_prod?schema=public
NEXT_PUBLIC_API_URL=http://localhost/api
PORT=3000